{% extends "account/base_account.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load socialaccount %}

{% block account_title %}{% translate "Sign In" %}{% endblock account_title %}

{% block account_content %}
<form class="space-y-4 md:space-y-6" method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
    <div>
        <label for="{{ form.login.label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.login.label }}</label>
        {% render_field form.login|add_class:"text-sm bg-gray-50 p-2.5" %}
    </div>
    <div>
      <label for="{{ form.password.label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.password.label }}</label>
      {% render_field form.password|add_class:"text-sm bg-gray-50 p-2.5" %}
    </div>
    <div class="flex items-center justify-between">
        <div class="flex items-start">
            <div class="flex items-center h-5">
            </div>
            <div class="ml-3 text-sm">
            </div>
        </div>
        <a href="{% url 'account_reset_password' %}" class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">{% translate "Forgot password?" %}</a>
    </div>
    <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">{% translate "Sign in" %}</button>
    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
      {% translate "Don’t have an account yet?" %} <a href="{% url 'account_signup' %}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">{% translate "Sign up" %}</a>
    </p>
</form>
{% endblock account_content %}
             