{% extends "account/base_account.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load socialaccount %}

{% block account_title %}
{% translate "Change Password" %}
{% endblock account_title %}

{% block account_content %}
<div class="pg-content">
    <p>
        {% blocktranslate %}
        Your password has been changed.
        {% endblocktranslate %}
    </p>
    <p>
        {% url 'account_login' as login_url %}
        {% blocktranslate %}
        You can now <a href="{{ login_url }}">login</a> with your new password.
        {% endblocktranslate %}
    </p>
</div>
{% endblock account_content %}