{% extends "account/base_account.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load socialaccount %}

{% block account_title %}{% translate "Password Reset" %}{% endblock account_title %}

{% block account_content %}
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<h2 class="">{% translate "Forgot your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</h2>

<form class="space-y-4 md:space-y-6" method="post" action="{% url 'account_reset_password' %}">
  {% csrf_token %}
  {{ form.non_field_errors }}
    <div>
        <label for="{{ form.email.label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.email.label }}</label>
        {% render_field form.email|add_class:"text-sm bg-gray-50 p-2.5" %}
    </div>
    
    
    <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">{% translate 'Send Password Reset' %}</button>
    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
      {% blocktranslate %}
        Please contact us if you have any trouble resetting your password.
      {% endblocktranslate %}
    </p>
</form>
{% endblock account_content %}