{% load i18n %}
{% load static %}


<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-4 py-3">{% trans 'ID' %}</th>
            <th scope="col" class="px-4 py-3">{% trans 'Title' %}</th>
            <th scope="col" class="px-4 py-3">{% trans 'Quantity' %}</th>
            <th scope="col" class="px-4 py-3">{% trans 'Price' %}</th>     
            <th scope="col" class="px-4 py-3">{% trans 'Job' %}</th>                
            <th scope="col" class="px-4 py-3">{% trans 'Actions' %}</th>
        </tr>
    </thead>
    <tbody id="invoiceitems">
        {% for item in object.lineitems.all %}
        {% include 'jobcycle/invoices/invoiceitem_list_row.html' %}
        {% empty%}
        <tr>{% trans 'There are no line items for this invoice' %}</tr>
        {% endfor %}
    </tbody>
</table>