{% extends "web/app/app_base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block app %}

<section class="">
    <div class="max-w-2xl px-4 py-8 mx-auto lg:py-12">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">{{ title }}</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
                {% with WIDGET_ERROR_CLASS="bg-danger-50 border border-danger-500 text-danger-900 placeholder-danger-700 text-sm rounded-lg focus:ring-danger-500 focus:border-danger-500 block w-full p-2.5 dark:bg-danger-100 dark:border-danger-400" %}
                <div class="w-full">
                    <label for="{{ form.email.label }}" class="block mb-2 text-sm font-medium {% if form.email.errors %} text-danger-900 dark:text-danger-100 {% else %} text-gray-900 dark:text-white{% endif %}">{{ form.email.label }}</label>
                    {% render_field form.email|add_class:"text-sm bg-gray-50 p-2.5" %}
                    {% if form.email.errors %}<p>{{ form.email.errors }}</p>{% endif %}
                    {% if form.email.help_text %}<p class="mt-0 text-sm text-gray-500 dark:text-gray-400">{{ form.email.help_text }}</p>{% endif %}
                </div>
                <div class="w-full">
                    <label for="{{ form.user.label }}" class="block mb-2 text-sm font-medium {% if form.user.errors %} text-danger-900 dark:text-danger-100 {% else %} text-gray-900 dark:text-white{% endif %}">{{ form.user.label }}</label>
                    {% render_field form.user|add_class:"text-sm bg-gray-50 p-2.5" %}
                    {% if form.user.errors %}<p class="mt-0 text-sm text-danger-500 dark:text-danger-400">{{ form.user.errors }}</p>{% endif %}
                    {% if form.user.help_text %}<p class="mt-0 text-sm text-gray-500 dark:text-gray-400">{{ form.user.help_text }}</p>{% endif %}
                </div>
                <div class="w-full">
                    <label for="{{ form.tax_id_number.label }}" class="block mb-2 text-sm font-medium {% if form.tax_id_number.errors %} text-danger-900 dark:text-danger-100 {% else %} text-gray-900 dark:text-white{% endif %}">{{ form.tax_id_number.label }}</label>
                    {% render_field form.tax_id_number|add_class:"text-sm bg-gray-50 p-2.5" %}
                    {% if form.tax_id_number.errors %}<p class="mt-0 text-sm text-danger-500 dark:text-danger-400">{{ form.tax_id_number.errors }}</p>{% endif %}
                    {% if form.tax_id_number.help_text %}<p class="mt-0 text-sm text-gray-500 dark:text-gray-400">{{ form.tax_id_number.help_text }}</p>{% endif %}
                </div>
                <div class="w-full">
                    <label for="{{ form.stripe_customer_id.label }}" class="block mb-2 text-sm font-medium {% if form.stripe_customer_id.errors %} text-danger-900 dark:text-danger-100 {% else %} text-gray-900 dark:text-white{% endif %}">{{ form.stripe_customer_id.label }}</label>
                    {% render_field form.stripe_customer_id|add_class:"text-sm bg-gray-50 p-2.5" %}
                    {% if form.stripe_customer_id.errors %}<p class="mt-0 text-sm text-danger-500 dark:text-danger-400">{{ form.stripe_customer_id.errors }}</p>{% endif %}
                    {% if form.stripe_customer_id.help_text %}<p class="mt-0 text-sm text-gray-500 dark:text-gray-400">{{ form.stripe_customer_id.help_text }}</p>{% endif %}
                </div>

                <div class="sm:col-span-2">
                    <label for="{{ form.billing_address.label }}" class="block mb-2 text-sm font-medium {% if form.billing_address.errors %} text-danger-900 dark:text-danger-100 {% else %} text-gray-900 dark:text-white{% endif %}">{{ form.billing_address.label }}</label>
                    {% render_field form.billing_address|add_class:"text-sm bg-gray-50 p-2.5" %}
                    {% if form.billing_address.errors %}<p class="mt-0 text-sm text-danger-500 dark:text-danger-400">{{ form.billing_address.errors }}</p>{% endif %}
                    {% if form.billing_address.help_text %}<p class="mt-0 text-sm text-gray-500 dark:text-gray-400">{{ form.billing_address.help_text }}</p>{% endif %}
                </div>
                {% endwith %}
                
                
                

            </div>
            <div class="flex items-center space-x-4">
                <button type="submit" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    {% trans 'Save' %}
                </button>

                <a href="{% url 'customers:customer_list' %}" type="button" class="text-danger-600 inline-flex items-center hover:text-white border border-danger-600 hover:bg-danger-600 focus:ring-4 focus:outline-none focus:ring-danger-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-danger-500 dark:text-danger-500 dark:hover:text-white dark:hover:bg-danger-600 dark:focus:ring-danger-900">
                    {% trans 'Back' %}
                </a>
            </div>
        </form>
        {% if not create %}
        {% include 'comments/comments_list.html' %}
        {% endif %}
    </div>
</section>



{% endblock %}