{% extends "web/app/app_base.html" %}
{% load i18n %}
{% load static %}
{% block app %}

<section class="app-card">
    <div class="pg-content">
        <h2>{{ title }}</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}    

            <button type="submit" class="btn btn-primary" name="save">{% trans 'Save' %}</button>
            <a href="{% url 'customers:customer_list' %}" class="btn btn-primary">{% trans 'Cancel' %}</a>

        </form>
    </div>
</section>
{% endblock %}