{% extends "web/app/app_base.html" %}
{% load i18n %}
{% load static %}
{% block app %}

<section class="app-card">
    <div class="pg-content">
        <h2>{{ title }}</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}    
            {% for button in buttons %}
            <button type="{{ button.type }}" class="{{ button.class }}" name="{{ button.name }}">{{ button.text }}</button>
            {% empty %}
            {% if create %}
            <button type="submit" class="btn btn-primary" name="save">{% trans 'Save' %}</button>
            {% else %}
            <p>{% trans 'This item cannot be modified' %}</p>
            {% endif %}
            {% endfor %}
        </form>
    </div>
</section>

{% include 'comments/comments_list.html' %}

{% include 'attachments/attachments_list.html' %}


{% endblock %}