{% extends "web/app/app_base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block app %}

{% comment 'Keep until the Flowbite form below is properly tested' %}
<section class="app-card">
    <div class="pg-content">
        <h2>{{ title }}</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}    
            {% for button in buttons %}
            <button type="{{ button.type }}" class="{{ button.class }}" name="{{ button.name }}">{{ button.text }}</button>
            {% empty %}
            {% if create %}
            <button type="submit" class="btn btn-primary" name="save">{% trans 'Save' %}</button>
            {% else %}
            <p>{% trans 'This item cannot be modified' %}</p>
            {% endif %}
            {% endfor %}
        </form>
    </div>
</section>

{% endcomment %}


<section class="">
    
    <div class="max-w-2xl px-4 py-8 mx-auto lg:py-12">

        {% comment %}
        {% if form.errors %}
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <span class="font-medium">{% trans 'There are some errors:' %}</span> {{ form.errors }} 
        </div>
        {% endif %}
        {% endcomment %}

        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">{{ title }}</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
                {% with WIDGET_ERROR_CLASS="bg-danger-50 border border-danger-500 text-danger-900 placeholder-danger-700 text-sm rounded-lg focus:ring-danger-500 focus:border-danger-500 block w-full p-2.5 dark:bg-danger-100 dark:border-danger-400" %}
                <div class="w-full">
                    <label for="{{ form.customer.label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.customer.label }}</label>
                    {% render_field form.customer|add_class:"text-sm bg-gray-50 p-2.5" %}
                    {% if form.customer.errors %}<p class="mt-0 text-sm text-danger-500 dark:text-danger-400">{{ form.customer.errors }}</p>{% endif %}
                    {% if form.customer.help_text %}<p class="mt-0 text-sm text-gray-500 dark:text-gray-400">{{ form.customer.help_text }}</p>{% endif %}
                </div>
                <div class="w-full">
                    <label for="{{ form.owner.label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.owner.label }}</label>
                    {% render_field form.owner|add_class:"text-sm bg-gray-50 p-2.5" %}
                    {% if form.owner.errors %}<p class="mt-0 text-sm text-danger-500 dark:text-danger-400">{{ form.owner.errors }}</p>{% endif %}
                    {% if form.owner.help_text %}<p class="mt-0 text-sm text-gray-500 dark:text-gray-400">{{ form.owner.help_text }}</p>{% endif %}
                </div>
                <div class="sm:col-span-2">
                    <label for="{{ form.title.label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.title.label }}</label>
                    {% render_field form.title|add_class:"text-sm bg-gray-50 p-2.5" %}
                    {% if form.title.errors %}<p class="mt-0 text-sm text-danger-500 dark:text-danger-400">{{ form.title.errors }}</p>{% endif %}
                    {% if form.title.help_text %}<p class="mt-0 text-sm text-gray-500 dark:text-gray-400">{{ form.title.help_text }}</p>{% endif %}
                </div>
                <div class="sm:col-span-2">
                    <label for="{{ form.description.label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.description.label }}</label>
                    {% render_field form.description|add_class:"text-sm bg-gray-50 p-2.5" %}
                    {% if form.description.errors %}<p class="mt-0 text-sm text-danger-500 dark:text-danger-400">{{ form.description.errors }}</p>{% endif %}
                    {% if form.description.help_text %}<p class="mt-0 text-sm text-gray-500 dark:text-gray-400">{{ form.description.help_text }}</p>{% endif %}
                </div>
                <div class="w-full">
                    <label for="{{ form.deadline.label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.deadline.label }}</label>
                    {% render_field form.deadline|attr:"datepicker"|attr:"datepicker-format:yyyy-mm-dd"|attr:"datepicker-autohide"|add_class:"text-sm bg-gray-50 p-2.5" %}
                    {% if form.deadline.errors %}<p class="mt-0 text-sm text-danger-500 dark:text-danger-400">{{ form.deadline.errors }}</p>{% endif %}
                    {% if form.deadline.help_text %}<p class="mt-0 text-sm text-gray-500 dark:text-gray-400">{{ form.deadline.help_text }}</p>{% endif %}
                </div>
                <div class="w-full">
                    <label for="{{ form.status.label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.status.label }}</label>
                    {% render_field form.status|add_class:"text-sm bg-gray-50 p-2.5" %}
                    {% if form.status.errors %}<p class="mt-0 text-sm text-danger-500 dark:text-danger-400">{{ form.status.errors }}</p>{% endif %}
                    {% if form.status.help_text %}<p class="mt-0 text-sm text-gray-500 dark:text-gray-400">{{ form.status.help_text }}</p>{% endif %}
                </div>
                {% endwith %}

                {% if additional_form_fields_template %}
                {% include additional_form_fields_template %}
                {% endif %}

                
            </div>

            <div class="flex items-center space-x-4">
                {% for button in buttons %}
                <button type="{{ button.type }}" class="{{ button.class }}" name="{{ button.name }}">{{ button.text }}</button>
                {% empty %}
                {% if create %}
                <button type="submit" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" name="save">{% trans 'Save' %}</button>
                {% else %}
                <div class="sm:col-span-2 p-4 mb-4 text-sm text-primary-800 rounded-lg bg-primary-50 dark:bg-gray-800 dark:text-primary-300" role="alert">
                    <span class="font-medium">Info alert!</span> {% trans 'This item cannot be modified' %}.
                </div>
                
                {% endif %}
                {% endfor %}
            </div>
        </form>
        {% if not create %}
        {% include 'comments/comments_list.html' %}
        {% include 'attachments/attachments_list.html' %}
        {% endif %}
    </div>
  </section>





{% endblock %}

{% block page_js %}
<script src="{% static 'js/datepicker.js' %}"></script>
{% endblock page_js %}
