Django
django-allauth
django-allauth-2fa
django-waffle
django-environ
django-filter
django-modeltranslation
djangorestframework
django_simple_mail
django-widget-tweaks
drf-spectacular
stripe
dj-stripe
django-anymail[mailgun]  # email services
django-hijack
celery-progress
celery
celery[redis]
mailchimp3
markdown
openai
openpyxl
sentry-sdk
wagtail
